<footer class="site-footer h-card {% if page.blackfooter %}site-footer-black{% endif %}">
  <data class="u-url" href="{{ "/" | relativize_url }}"></data>

  <div class="wrapper">

    <p class="footer-trademarks">
      <a href="mailto:charticulator@microsoft.com">Contact Us</a> |
      <a href="https://go.microsoft.com/fwlink/?LinkId=521839">Privacy & cookies</a> |
      <a href="https://go.microsoft.com/fwlink/?LinkID=760869">Terms of use</a> |
      <a href="http://go.microsoft.com/fwlink/?LinkId=506942">Trademarks</a> |
      <a href="{{ '/third_party.html' | relativize_url }}">Third Party Notices</a> |
      © 2021 Microsoft
    </p>
  </div>

</footer>
